<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create or Login</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
                {% if messages %}                            <!-- check if there are any messages -->
                        {% for message in messages %}            <!-- loop through the messages -->
                            <p>{{message}}</p>                   <!-- display each message in a paragraph tag -->
                        {% endfor %}
                {% endif %}
        {% endwith %}
    <form action='/register/user' method="post">
        <div id="register">
        <h1>Register</h1>
        <div class="one">
        <label for="first_name">First Name:</label>
        <input type="text" name="first_name">
        </div>
        <div class="one">
        <label for="last_name">Last Name:</label>
        <input type="text" name="last_name">
        </div>
        <div class="one" id="email">
        <label for="email">Email:</label>
        <input type="text" name="email">
        </div>
        <div class="one">
        <label for="password" id="password">Password:</label>
        <input type="text" name="password">
        </div>
        <!-- <label for="password">Confirm Password:</label>
        <input type="text" name="password"> -->
        <div class="one">
        <button value="register">Register</button>
        </div>
        </div>
    </form>
    <form action="/login" method="post">
        <div id="login">
        <h1>Login</h1>
        <div class="two">
        <label for="email">Email:</label>
        <input type="text" name="email">
        </div>
        <div class="two" id="passwords">
        <label for="password">Password:</label>
        <input type="text" name="password">
        </div>
        <div class="two">
        <button value="login">Login</button>
        </div>
        </div>
    </form>
</body>
</html>